image:
  repository: "docker.io/library/podinspector"
  tag: "latest"
  pullPolicy: IfNotPresent
overrideNamespace: "monitoring"

service:
  type: ClusterIP
  port: 8080

podAnnotations:
  k8s.grafana.com/scrape: true